@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.dark {
    background-color: rgba(0, 0, 0, 0.068);
    height: 100%;
    width: 100%;
}

.top-container {
    height: 100vh;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    margin-bottom: 5px;

}

.bg1 {
    background-image: url(../img/elegant-smartphone-composition.jpg);
    height: 100vh;
    width: 100%;
    margin-bottom: 3vh;
}

.bg2 {
    background-image: url(../img/triple-camera-black-smartphone-concept-mockup_1017-19784.avif);
    margin-bottom: 3vh;
}

.nav {
    height: 106px;
    width: 100%;

}

.box1 {
    height: 30%;
    width: 100%;
    padding: 0 10px;
    color: white;
}
