@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.dark {
    background-color: rgba(0, 0, 0, 0.068);
    height: 100%;
    width: 100%;
}

.top-container {
    height: 100vh;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    margin-bottom: 5px;

}

.bg1 {
    background-image: url(../img/elegant-smartphone-composition.jpg);
    height: 100vh;
    width: 100%;
    margin-bottom: 3vh;
}

.bg2 {
    background-image: url(../img/triple-camera-black-smartphone-concept-mockup_1017-19784.avif);
    margin-bottom: 3vh;
}

.nav {
    height: 106px;
    width: 100%;

}

.box1 {
    height: 30%;
    width: 100%;
    padding: 0 10px;
    color: white;
}
.sbox1 {
    height: 100%;
    width: 11%;
    color: white;
    justify-items: center;
    align-content: center;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sbox1 :hover {
    cursor: pointer;
    color: black;
}

.sbox2 {
    height: 100%;
    width: 69%;
}

.sbox2 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 100%;
    font-weight: 600;
    font-size: medium;
    font-family: "Roboto", sans-serif;
}

.sbox2 ul :hover {
    cursor: pointer;
    color: black;
}

.input-container {
    position: relative;
    width: 10vw;
    font-size: x-large;
}

.input {
    width: 100%;
    padding: 1vw;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: large;
}

.input-container i {
    position: absolute;
    right: 1vw;
    top: 30%;
    color: gray;
}

#input:hover {
    background-color: #D3C5E5;
    color: black;
}

.icon {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2vw;
    color: white;
    cursor: pointer;


}

.Faf {
    font-size: xx-large;
}


.sm-contain {
    margin-top: 250px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 70px;
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: Arial, Helvetica, sans-serif;

}


.sm-contain :hover {
    cursor: pointer;
}

hr {
    width: 5vw;
}

.sm-contain h2 {
    font-size: xx-large;
    margin-top: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
span {
    font-size: medium;
}

button {
    border-radius: 40px;
    width: 6vw;
    height: 6vh;
    color: white;
    border-color: white;
    font-weight: 600;
    font-size: small;
    background-color: #52454A;
}

.Secsm-contain {
    margin-left: 30px;
    font-weight: 700;
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40vh;
    animation: blinkColors 5s linear infinite;
}
@keyframes blinkColors {
    0% {
        color: #ffffff;
        text-shadow: 0 0 5px #fff;
    }

    25% {
        color: #ff4081;
        text-shadow: 0 0 8px #ff4081;
    }

    50% {
        color: #40c4ff;
        text-shadow: 0 0 8px #40c4ff;
    }

    75% {
        color: #69f0ae;
        text-shadow: 0 0 8px #69f0ae;
    }

    100% {
        color: #ffffff;
        text-shadow: 0 0 5px #fff;
    }
}

.Secsm-contain h2 {
    font-size: 40px;
    padding-left: 15vh;
    margin-top: 10px;
}

.line {
    display: inline-block;
    width: 3px;
    height: 7vh;
    background-color: white;
    vertical-align: middle;
}

.but {
    background-color: #3A3A3B;
}

.to-contain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.sm-total {
    height: 35vh;
    width: 13vw;
    margin-top: 3vh;
}
.sm-total:hover {
    transition: .3s;
    scale: 0.8;
    cursor: pointer;
}

h3 {
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    justify-self: center;
    margin-top: 5vh;
}

.bg3 {
    background-image: url(../img/fri-bg2.jpg);
    display: flex;
    margin-bottom: 5vh;
    margin-top: 15vh;

}

#Ai {
    justify-items: right;
    padding-top: 15vh;
    padding-right: 3vw;

}

#total-frige h3 {
    justify-self: center;
}

.Latest {
    font-size: 40px;
    display: flex;
    justify-self: left;
    margin-top: 10vh;
    margin-left: 5vw;
    font-family: "Roboto", sans-serif;
    animation: blinkColors 5s linear infinite;
    color: black;
    cursor: pointer;
}

#total-product h4 {
    justify-self: center;
    font-size: large;
}

#total-product h4:hover {
    color: red;
}

.whole {
    cursor: pointer;

}

.footer {
    background-color: #f0f0f067;
    display: flex;
    justify-content: space-between;
    margin-top: 8vh;
    cursor: pointer;
}

.footer-column {
    margin-left: 3vw;
}

.footer-column h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.footer-column ul li {
    margin-bottom: 3vh;
}

.footer-column ul li:hover {
    text-decoration: underline;
    color: red;
}

footer {
    color: rebeccapurple;
    font-size: 14px;
    margin-left: 3vw;
}

.about {
    padding-top: 5vh;
}


